.social_media {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
  
    a {
      margin: 0 10px;
      color: #fff;
      text-decoration: none;
      font-size: 1.5rem;
      position: relative;
      transition: color 0.3s ease;
  
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #ff3333;
        bottom: 0;
        left: 0;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
  
      &:hover {
        color: #ff3333;
  
        &::before {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }
    }
  }
  
  ul {
    list-style: none;
    padding: 0;
    width: 90%;
  
    li {
      margin: 10px 0;
      padding: 10px;
      border: 1px solid #333;
      border-radius: 8px;
      background-color: #222;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: all 0.3s ease;
  
      &:hover {
        background-color: #333;
        transform: scale(1.02);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
  
      h3, p {
        color: #fff;
        transition: color 0.3s ease;
      }
  
      &:hover h3, &:hover p {
        color: #ff3333;
      }
    }
  }
  