.links_page {
  font-family: "Arial, sans-serif";
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 16px;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
    background-color: #ff3333;
    color: #fff;
    font-size: 1rem;
    transition: all 0.3s ease;

    &:hover {
      background-color: #e60000;
      transform: scale(1.1);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }
  }
}
